@model IEnumerable<Livraria.DATA.Models.Livro>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Livros</h1>

<p>
    <a  class="btn btn-primary" asp-action="Create">Novo Livro</a>
</p>
<br />
<table id="myTable" class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoPublicacao)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="vertical-align: central;">
                    @Html.DisplayFor(modelItem => item.Autor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Editora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edicao)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.AnoPublicacao)
                </td>
                <td class="row">
                    <a asp-action="Edit" class="btn btn-warning m-1" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Details" class="btn btn-secondary m-1" asp-route-id="@item.Id">Detalhes</a>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger m-1" data-toggle="modal" data-target="#DeleteModal-@item.Id">
                        Excluir
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="DeleteModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="DeleteModalLabel">Excluir Livro</h5> 
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Deseja excluir o Livro: 
                                    <span style="font-weight:bold;">@item.Nome</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                                    <a asp-action="Delete" asp-route-id ="@item.Id" class="btn btn-danger">Sim</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            language: {
                search: 'Buscar por...',
                url: 'https://cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json'
            }
        });
    });
</script>
}
